:root {
    --vp-c-brand-1: #ff8d11;
    --vp-c-brand-2: #ffa73c;
    --vp-c-brand-3: #ffc067;
}
.vp-doc p {
    text-indent: 2em;
}
.vp-doc :not(div) p {
    text-indent: initial;
}
.footnote-item p {
    text-indent: initial;
}
